# For Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Eclipse
.classpath
.settings/
.project
bin/

# IntelliJ
*.iml
*.ipr
*.iws
*.uml
.idea/

# Misc
*.log
*.graphml
